<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/ThePortalTheme/favicon.ico" />
    <link rel="stylesheet" href="~/ThePortalTheme/css/fabric.min.css"/>
</head>
<body class="ms-Fabric" dir="@Orchard.CultureDir()">
    @await RenderSectionAsync("Header", required: false)
    <main role="main" class="container">
        @await RenderSectionAsync("Messages", required: false)
        @await RenderBodyAsync()
    </main>
    @await RenderSectionAsync("Footer", required: false)
</body>
</html>
